.scrolling-tech-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(6px);
  overflow: hidden;
  height: 30px;
  z-index: 2000;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}

.tech-icons-track {
  display: flex;
  gap: 20px;
  padding: 10px 0;
  white-space: nowrap;
  will-change: transform;
  transition: transform 0.1s linear;
}

.tech-icon img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  filter: brightness(0.9);
}
