.social-media-container{
    position: absolute;
    bottom: 50px;
    left: 50%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
    z-index: 2500;
    transform: translateX(-50%);
}
.social-media-container a{
    text-decoration: none;
    transition: 0.3s;
}
.social-media-container a i{
    font-size: 40px;
    border: dashed 1px;
    border-radius: 50%;
    padding: 10px;
    transition: 0.5s;
}
.social-line{
    height: 1px;
    width: 50px;
    background-color: white;
}
.social-media-container div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
}
.social-media-container a i:hover{
    filter: drop-shadow(0px 0px 20px white);
}
.social-media-container a:hover{
    transform: scale(1.2);
}