.wheel-container img{
    width: 200px;
    position: fixed;
    /* bottom: 50px; */
    left: 20px;
    opacity: 0.2;
}
@media (max-width:600px){
    .wheel-container img{
        opacity: 0.3;
    }
}