body{
  background-color: rgb(26, 26, 26);
  height: 100vh;
  overflow-y: hidden;
  background: url('./assets/bg.jpg');
  background-size: cover;
  cursor: none;
}
*{
font-family: "Lexend", sans-serif;
color: rgb(211, 211, 211);
}
:root{
  --primary-color:#22719e;
  --secondary-color:rgb(107, 107, 107);
}